body{
	font-family: '微软雅黑';
	margin:0;
	background: #253A6B;
	min-width: 1000px;

}
#scene{
	width:922px;
	height:600px;
	margin:0 auto;
	position: relative;
}
.block{
	width: 114px;
	height:149px;
	border-radius: 10px;
	position: absolute;
	font-size: 12px;
	color: white;
	text-align: center;
	box-shadow: 0 0 5px #1F1F1F;
	background-size: cover;

}
/*.block1{
	left: 0;
	top:0;
}*/
#fanpai{
	width: 114px;
	height:149px;
	position: absolute;
	bottom: 10px;
	left: 100px;
}
#refan{
	width: 114px;
	height:149px;
	position: absolute;
	bottom: 10px;
	right: 100px;
}

.lit{
	border-radius: 10px;
	color: white;
	text-align: center;
	line-height: 30px;
	width: 90px;
	height:30px;
	border:1px solid #ccc;
	left: 420px;
	position: absolute;
	cursor: pointer;
}
#above{
	bottom: 100px;
}
#below{
	bottom: 47px;
}
.jia{
	width: 400px;
	height: 400px;
	background: url(../images/jia1.png);
	background-size: cover;
	margin: 0 auto;
	margin-bottom: 400px;
	margin-top: 100px;
}
